{
  "listening_port": 6880,
  "storage_path" : "/usr/share/btsync",

  "check_for_updates" : false,
  "pid_file" : "/var/run/btsync.pid",

  "download_limit" : 0,
  "upload_limit" : 0,
  "use_upnp" : true,

  “webui” : {
    “listen” : “0.0.0.0:8888“,
    “login” : “admin“,
    “password” : “admin”
  }
}
